<h3>See your posts appear below:</h3>
<form method="post" action="views/posts">
  <input type="text" autofocus>
  <input type="submit" value="submit">
</form>

<div class="box">
  <%= yield %>
</div>
